//typography

$principal:'Open Sans' , sans-serif;

//font weight

$bold:700;
$regular:400;
$extra-bold:800;


//breakpoint

$very-small:320px;
$small:576px;
  $medium: 768px;
  $large: 992px;
  $huge: 1200px;

